<a href="https://colab.research.google.com/github/fosetorico/Data_Analytics/blob/main/Time_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Convert timestamps to datetime
#Different date and time formats
import datetime as dtime
import time

#Use datetime
ts = dtime.datetime.now()
print(ts.strftime("%Y-%m-%d %H:%M:%S"))
print(ts.strftime("%x %X")) #===> x - date, X - time

#ISO format for datetime libraries
print(ts.strftime("%c"))

# Unix timestamp
print("Unix Timestamp 1 ",(time.mktime(ts.timetuple())))

# Get Unix timestamp from a datetime object
datetime_unix_time = ts.timestamp()
print('Datetime as unix 2:', datetime_unix_time)

# Convert Unix timestamp to datetime object
timestamp = dtime.datetime.fromtimestamp(datetime_unix_time)
print('DateTime from Unix timestamp 3: ', timestamp)

#================================================
#Use time
#for greenwich meridian time
ts1 = time.gmtime()
print("\n")
print(time.strftime("%Y-%m-%d %H:%M:%S", ts1))
print(time.strftime("%x %X", ts1))

# Iso Format for time libraries
print(time.strftime("%c", ts1))

2023-10-16 15:25:20
10/16/23 15:25:20
Mon Oct 16 15:25:20 2023
Unix Timestamp 1  1697469920.0
Datetime as unix 2: 1697469920.59951
DateTime from Unix timestamp 3:  2023-10-16 15:25:20.599510


2023-10-16 15:25:20
10/16/23 15:25:20
Mon Oct 16 15:25:20 2023

In [ ]:
# Current Day, Date and Time Display
import datetime as dtime
now = dtime.datetime.now()
print("Current day is ", now.strftime("%A"))
print("It is Day number ", now.strftime("%w"), " of the week")
print("Current date is ", now.strftime("%d/%m/%Y"))
print("Another format for current date is ", now.strftime("%d-%B-%Y"))
print("Current time in 24-hour format is ", now.strftime("%H:%M:%S"))

Current day is  Monday
It is Day number  1  of the week
Current date is  16/10/2023
Another format for current date is  16-October-2023
Current time in 24-hour format is  15:28:12

In [ ]:
import datetime as dtime
now = dtime.datetime.now()

#ctime is current time
ctime = now.strftime("%H:%M:%S")
mNight = "00:00:00"
mtime1 = "00:00:01"
mtime2 = "11:59:59"
ntime = "12:00:00"
aftime1 = "12:00:01"
aftime2 = "18:00:00"
etime1 = "18:00:01"
etime2 = "23:59:59"

#Time of the day
if ctime == mNight:
    print("It is midnight now")
else:
    print("It is not midnight now")
    if ctime >= mtime1 and ctime <=mtime2:
        print("It is morning now")
    else:
        print("It is not morning now")
        if ctime == ntime:
            print("It is noon now")
        else:
            print("It is not noon now")
            if ctime >= aftime1 and ctime <=aftime2:
                print("It is afternoon now")
            else:
                print("It is not afternoon now")
                if ctime >= etime1 and ctime <=etime2:
                    print("It is evening now")
                else:
                    print("It is not evening now")

It is not midnight now
It is not morning now
It is not noon now
It is afternoon now

In [ ]:
#Find your current age
# Figure out your age
# https://gist.github.com/shahri23/1804a3acb7ffb58a1ec8f1eda304af1a
import datetime as dtime
currentDate = dtime.datetime.now()

birthdate = input('Please enter your date of birth (dd/mm/yyyy) ')
bdate= dtime.datetime.strptime(birthdate,'%d/%m/%Y') #strptime - string to datetime object
print(bdate)
daysLeft = currentDate - bdate
print(daysLeft)

#Average number of days per year is 365.242 days
years = ((daysLeft.total_seconds())/(365.242*24*3600))
yearsInt=int(years)

months=(years-yearsInt)*12
monthsInt=int(months)

days=(months-monthsInt)*(365.242/12)
daysInt=int(days)

hours = (days-daysInt)*24
hoursInt=int(hours)

minutes = (hours-hoursInt)*60
minutesInt=int(minutes)

seconds = (minutes-minutesInt)*60
secondsInt =int(seconds)

#0:d - the first argument in the tuple and in decimal format, i.e. yearsInt, etc...
print('You are {0:d} years, {1:d}  months, {2:d}  days, {3:d}  hours, {4:d}  minutes, {5:d} seconds old.'.format(yearsInt, monthsInt, daysInt, hoursInt, minutesInt, secondsInt))

Please enter your date of birth (dd/mm/yyyy) 22/04/1989
1989-04-22 00:00:00
12595 days, 15:44:35.029969
You are 34 years, 5  months, 25  days, 5  hours, 51  minutes, 3 seconds old.

In [ ]:
#Time delta
from datetime import timedelta
import datetime as dtime

#Minus 1 second from current datetime using `timedelta`
ctime = dtime.datetime.now()
ptime1 = ctime - timedelta(hours=0, minutes=0, seconds=1, microseconds=0)
print('Minus 1 second from current datetime ')
print(ctime)
print(ptime1)
print("\n")

#Minus 1 minute from current datetime using `timedelta`
ptime2 = ctime - timedelta(hours=0, minutes=1, seconds=0, microseconds=0)
print('Minus 1 minute from current datetime ')
print(ctime)
print(ptime2)
print("\n")

#Minus 1 hour from current datetime using `timedelta`
ptime3 = ctime - timedelta(hours=1, minutes=0, seconds=0, microseconds=0)
print('Minus 1 hour from current datetime ')
print(ctime)
print(ptime3)
print("\n")

#Minus 1 day from current datetime using `timedelta`
ptime4 = ctime - timedelta(days=1, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 1 day from current datetime ')
print(ctime)
print(ptime4)
print("\n")


#Minus 22 days from current datetime using `timedelta`
ptime9 = ctime - timedelta(days=22, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 22 days from current datetime ')
print(ctime)
print(ptime9)
print("\n")


#Minus 1 week from current datetime using `timedelta`
ptime5 = ctime - timedelta(weeks=1, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Minus 1 week from current datetime ')
print(ctime)
print(ptime5)
print("\n")

# Minus 1 month from current datetime using `timedelta`
# Note there is no argument for months

# Minus 1 year from current datetime using `timedelta`
# Note there is no argument for years

Minus 1 second from current datetime
2023-10-16 16:42:07.748969
2023-10-16 16:42:06.748969


Minus 1 minute from current datetime
2023-10-16 16:42:07.748969
2023-10-16 16:41:07.748969


Minus 1 hour from current datetime
2023-10-16 16:42:07.748969
2023-10-16 15:42:07.748969


Minus 1 day from current datetime
2023-10-16 16:42:07.748969
2023-10-15 16:42:07.748969


Minus 22 days from current datetime
2023-10-16 16:42:07.748969
2023-09-24 16:42:07.748969


Minus 1 week from current datetime
2023-10-16 16:42:07.748969
2023-10-09 16:42:07.748969

In [ ]:
#Relative delta
# https://dateutil.readthedocs.io/en/stable/relativedelta.html
#https://docs.python.org/3.3/library/datetime.html#timedelta-objects

import datetime as dtime
from dateutil.relativedelta import *


#Add 1 second to current datetime using `relativedelta`
ctime = dtime.datetime.now()
ftime1 = ctime + relativedelta(hours=0, minutes=0, seconds=1, microseconds=0)
print('Add 1 second to current datetime ')
print(ctime)
print(ftime1)
print("\n")

#Add 1 minute to current datetime using `relativedelta`
ftime2 = ctime + relativedelta(hours=0, minutes=1, seconds=0, microseconds=0)
print('Add 1 minute to current datetime ')
print(ctime)
print(ftime2)
print("\n")

#Add 1 hour to current datetime using `relativedelta`
ftime3 = ctime + relativedelta(hours=1, minutes=0, seconds=0, microseconds=0)
print('Add 1 hour to current datetime ')
print(ctime)
print(ftime3)
print("\n")

#Add 1 day to current datetime using `relativedelta`
ftime4 = ctime + relativedelta(days=1, hours=0, minutes=0, seconds=0, microseconds=0)
print('Add 1 day to current datetime ')
print(ctime)
print(ftime4)
print("\n")

#Add 1 week to current datetime using `relativedelta`
ftime5 = ctime + relativedelta(weeks=1, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Add 1 week to current datetime ')
print(ctime)
print(ftime5)
print("\n")


#Add 1 month to current datetime using `relativedelta`
ftime6 = ctime + relativedelta(months=1, weeks=0, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Add 1 month to current datetime ')
print(ctime)
print(ftime6)
print("\n")

#Add 1 year to current datetime using `relativedelta`
ftime7 = ctime + relativedelta(years=1, months=0, weeks=0, days=0, hours=0, minutes=0, seconds=0, microseconds=0)
print('Add 1 year to current datetime ')
print(ctime)
print(ftime7)
print("\n")

Add 1 second to current datetime
2023-10-16 16:48:53.523253
2023-10-16 16:48:54.523253


Add 1 minute to current datetime
2023-10-16 16:48:53.523253
2023-10-16 16:49:53.523253


Add 1 hour to current datetime
2023-10-16 16:48:53.523253
2023-10-16 17:48:53.523253


Add 1 day to current datetime
2023-10-16 16:48:53.523253
2023-10-17 16:48:53.523253


Add 1 week to current datetime
2023-10-16 16:48:53.523253
2023-10-23 16:48:53.523253


Add 1 month to current datetime
2023-10-16 16:48:53.523253
2023-11-16 16:48:53.523253


Add 1 year to current datetime
2023-10-16 16:48:53.523253
2024-10-16 16:48:53.523253

In [ ]:
#Dates and times in pandas
#Extract components of a datetime data structure

import pandas as pd
import datetime as dtime
from dateutil import parser
import calendar

Adate = "4th of September, 2025"
daTime = pd.to_datetime(Adate)
print(daTime)
print("\n")

#Split date to its components
date2 = parser.parse(Adate)
print(date2)
print("\n")

#Extract the year, month and day from currenttime object
ctime = dtime.datetime.now()
date3 = ctime.strftime("%Y-%m-%d")
print("Today's date is: ", date3)

#Get Year from Current Date
print("Today's year is: ", ctime.year)

#Get Month from Current Date
print("Today's month is: ", ctime.month)

#Get Day from Current Date
print("Today's day is: ", ctime.day)
print("\n")

#============================================================

#Extract the year, month and day from a chosen time object
my_string = "2022-05-23 12:23:34"

#Create a date object
my_date = dtime.datetime.strptime(my_string, "%Y-%m-%d %H:%M:%S")
print("My chosen date is: ", my_date)

#Get Year from a chosen Date
print("My chosen year is: ", my_date.year)

#Get Month from a chosen Date
print("My chosen month is: ", my_date.month)

#Get Day from a chosen Date
print("My chosen day is: ", my_date.day)

#Get hour from a chosen Date
print("My chosen hour of the time is: ", my_date.hour)

#Get minute from a chosen Date
print("My chosen minute of the time is: ", my_date.minute)

#Get second from a chosen Date
print("My chosen second of the time is: ", my_date.second)

2025-09-04 00:00:00


2025-09-04 00:00:00


Today's date is:  2023-10-16
Today's year is:  2023
Today's month is:  10
Today's day is:  16


My chosen date is:  2022-05-23 12:23:34
My chosen year is:  2022
My chosen month is:  5
My chosen day is:  23
My chosen hour of the time is:  12
My chosen minute of the time is:  23
My chosen second of the time is:  34

In [ ]:
#Pandas Time Series Indexed by Time
#Source https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
import datetime
import pandas as pd
import numpy as np

#Use pandas to convert all different inputs to datetime format
dti = pd.to_datetime(['1/1/2018', np.datetime64('2018-01-01'),
                        datetime.datetime(2018, 1, 1)])
print(dti)
print("\n")

#Generate sequences of fixed-frequency dates and time spans, H is hour
dti_2 = pd.date_range('2018-01-01', periods=10, freq='H')
print(dti_2)
print("\n")

# Resampling or converting a time series to a particular frequency with index
dti_2 = pd.date_range('2018-01-01', periods=10, freq='H')
tseries = pd.Series(range(len(dti_2)), index = dti_2)
print(tseries)
print("\n")

#Resample the time series to 2 hourly and find the mean
tseries.resample('2H').mean()

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)


DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')


2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
2018-01-01 05:00:00    5
2018-01-01 06:00:00    6
2018-01-01 07:00:00    7
2018-01-01 08:00:00    8
2018-01-01 09:00:00    9
Freq: H, dtype: int64

2018-01-01 00:00:00    0.5
2018-01-01 02:00:00    2.5
2018-01-01 04:00:00    4.5
2018-01-01 06:00:00    6.5
2018-01-01 08:00:00    8.5
Freq: 2H, dtype: float64

In [ ]:
#Represent time component in the index of a Series or dataframe so that manipulations can be performed with respect
#to the time element
import datetime
import pandas as pd

#D is day
tseries1 = pd.Series(pd.date_range('2020', freq='D', periods=40))
print(tseries1)
print("\n")

#M is month
tseries2 = pd.Series(pd.period_range('1/1/2011', freq='M', periods=10))
print(tseries2)
print("\n")

#M is month
#When passed into those constructors.
#DateOffset data however will be stored as object data.
ts = pd.Timestamp('2017-01-01 09:10:11')
ts = ts + pd.DateOffset(months=2)
print(ts)
# tseries3 = pd.Series([pd.DateOffset(1), pd.DateOffset(2)])
# print(tseries3)
print("\n")

tseries4 = pd.Series(pd.date_range('1/1/2011', freq='M', periods=3))
print(tseries4)
print("\n")

0    2020-01-01
1    2020-01-02
2    2020-01-03
3    2020-01-04
4    2020-01-05
5    2020-01-06
6    2020-01-07
7    2020-01-08
8    2020-01-09
9    2020-01-10
10   2020-01-11
11   2020-01-12
12   2020-01-13
13   2020-01-14
14   2020-01-15
15   2020-01-16
16   2020-01-17
17   2020-01-18
18   2020-01-19
19   2020-01-20
20   2020-01-21
21   2020-01-22
22   2020-01-23
23   2020-01-24
24   2020-01-25
25   2020-01-26
26   2020-01-27
27   2020-01-28
28   2020-01-29
29   2020-01-30
30   2020-01-31
31   2020-02-01
32   2020-02-02
33   2020-02-03
34   2020-02-04
35   2020-02-05
36   2020-02-06
37   2020-02-07
38   2020-02-08
39   2020-02-09
dtype: datetime64[ns]


0    2011-01
1    2011-02
2    2011-03
3    2011-04
4    2011-05
5    2011-06
6    2011-07
7    2011-08
8    2011-09
9    2011-10
dtype: period[M]


2017-01-03 09:10:11


0   2011-01-31
1   2011-02-28
2   2011-03-31
dtype: datetime64[ns]

In [ ]:
#Represent Missing Data for dates, time deltas, and time spans
import datetime
import pandas as pd

missing1 = pd.Timestamp(pd.NaT)
print(missing1)

missing2 = pd.Timedelta(pd.NaT)
print(missing2)

missing3 = pd.Period(pd.NaT)
print(missing3)

#You cannot use equality for NaT
print(missing1 == pd.NaT)
print(missing1 == "NaT")

NaT
NaT
NaT
False
False

In [ ]:
# Read in data lists
import datetime
import pandas as pd

# Timestamp for Data List
dates = [pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'),
        pd.Timestamp('2012-05-03')]
print(dates)
print("\n")

# Use datetime and datetime index
dates2 = pd.to_datetime(['2018-01-05', '7/8/1952', 'Oct 10, 1995'])
dates3 = pd.DatetimeIndex(['2018-01-05', '1952-07-08', '1995-10-10'])
dates4 = pd.to_datetime(['22/01/10', '18/06/17', '15/12/12'], format='%d/%m/%y')
print(dates2)
print("\n")
print(dates3)
print("\n")
print(dates4)
print("\n")

# Use pandas dataframe
df = pd.DataFrame({ 'year': [2015, 2016], 'month': [2, 3], 'day': [4, 5],
                    'hour': [2, 3]})
dtime = pd.to_datetime(df)
print(dtime)
print("\n")

# Pass only the columns we need - Year, month, and day
dtime2 = pd.to_datetime(df[['year', 'month', 'day']])
print (dtime2)
print("\n")

[Timestamp('2012-05-01 00:00:00'), Timestamp('2012-05-02 00:00:00'), Timestamp('2012-05-03 00:00:00')]


DatetimeIndex(['2018-01-05', '1952-07-08', '1995-10-10'], dtype='datetime64[ns]', freq=None)


DatetimeIndex(['2018-01-05', '1952-07-08', '1995-10-10'], dtype='datetime64[ns]', freq=None)


DatetimeIndex(['2010-01-22', '2017-06-18', '2012-12-15'], dtype='datetime64[ns]', freq=None)


0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]


0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]